@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

:root{
	--mygrey: #1C1C1C;
	--mygreylight: #363636;
	--myblack: #0c0c0c;
	--myred: #d22d24;
}

*{
	margin: 0;
	padding: 0;
	font-family: 'Ubuntu', sans-serif;
	scroll-behavior: smooth;
	overflow-x: hidden;
	overflow-y: auto;
}

.hl-header{
	height: 9vh;
	width: 100%;
	font-size: 28px;
	background: #0c0c0c;
	color: white;
	text-align: left;
	padding: 20px;
	/*position: fixed;*/
	display: flex;
	justify-content: space-between;
	/*text-shadow: 2px 2px #d63031;*/
	cursor: pointer;
}

.hl-header .header-title{
	color:var(--myred);
	overflow-y: hidden;
}

.hl-header .hl-menu{ /*Menu lateral canto superior direito*/
	display: table;
	margin-top: 10px;
}

.hl-header .hl-menu div{ /*Itens do menu */
	display: table-row;
}
.hl-header .hl-menu div a{ /*Itens do menu na tag*/
	color: white;
	font-size: 25px;
	margin: 27px;
	text-decoration: none;
	background-color: var(--myred);
	padding: 12px;
	width: 35px;
	border-radius: 4px;
}


/*Cores para serem mudadas*/

main{
	margin: 0;
	padding: 0;
	height: auto;
}

.info-block{
	display: block;
	height: 100vh;
	text-align: center;
	background-color: #0c0c0c;
	color: whitesmoke;
	border-bottom: solid 2px white;
}

.mygrey{
	background-color: var(--mygrey);
}

.black{
	background-color: var(--myblack);
}


.info-block h1{
	 line-height: 78vh; /*Alinha texto verticalmente*/
	 font-size: 70px;
}

.info-block span{
	font-size: 25px;
}







