@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

:root{
	--mygrey: #1C1C1C;
	--mygreylight: #363636;
	--myblack: #0c0c0c;
	--myred: #d22d24;
}


*{
	margin: 0;
	padding: 0;
	font-family: 'Ubuntu', sans-serif;
	scroll-behavior: smooth;
}

body{
	overflow-x: hidden;
	overflow-y: hidden;
}

.hl-header{
	height: 9vh;
	width: 100%;
	font-size: 28px;
	background: #0c0c0c;
	color: var(--myred);
	text-align: left;
	padding: 20px;
	/*position: fixed;*/
	display: flex;
	justify-content: space-between;
	/*text-shadow: 2px 2px #d63031;*/
	cursor: pointer;
}

.hl-header .hl-menu{ /*Menu lateral canto superior direito*/
	display: table;
	margin-top: 10px;

}

.hl-header .hl-menu div{ /*Itens do menu */
	display: table-row;
}
.hl-header .hl-menu div a{ /*Itens do menu na tag*/
	color: white;
	font-size: 30px;
	margin: 24px;
	text-decoration: none;
	background-color: var(--myred);
	border-radius: 4px;
	padding: 12px 20px;
	line-height: 2px;
}

main{
	display: flex;
	justify-content: space-between;
}

.sideLogin{
	display: flex;
	justify-content: center;
	background-color: #0c0c0c;
	height: 100vh;
	width: 50%;
}
.sideRegister{
	display: flex;
	justify-content: center;
	background-color: #1C1C1C;
	height: 100vh;
	width: 50%;
}
h2{
	margin-bottom: 50px;
	text-shadow: 2px 2px #d63031;
}

.sideLogin form, .sideRegister form{
	position: absolute;
	top: 20%;
} 

input{
	outline: none;
	width: 300px;
	border-radius: 5px;
	border: solid 1px white;
	padding: 10px;
	margin: 10px;
}

.registerBtn, .loginBtn{
	outline: none;
	font-size: 15px;
	display: flex;
	justify-content: center;
}

button{
	font-size: 15px;
	cursor: pointer;
	border-radius: 5px;
	border: hidden;
	padding: 5px;
	width: 200px;
	margin: 50px;
	color: whitesmoke;
	background-color: var(--myred);
}


